body{
  background-color: gray;
  padding: 0;
  margin: 0;
  /* position: absolute; */
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x:hidden;
}

.App{
  text-align: center;
  background-color: peachpuff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#LuffySprite{
  position:relative;
  left: 40px;
  bottom: 25px;
}
#GokuSprite{
  position:relative;
  right: 150px;
  top: 45px;
}

#NarutoSprite{
  position: relative;
  right: 25px;
}

#IchigoSprite{
  position: relative;
  right: 300px;
  bottom:10px;
}

#GonSprite{
  position: relative;
  right: 380px;
  bottom:80px;
}

@media(max-width: 480px){
  #root{
    width: 100%;
  }
  .App{
    width: 100%;
  }
  .header{
    font-size: 13px;
    width: 100%;
  }
  #LuffySprite{
    position: relative;
    height: 60px;
    left: -80px;
    bottom: 20px;
  }
  #GokuSprite{
    position:relative;
    right: 185px;
    top: 45px;
    height: 110px;
  }
  
  #NarutoSprite{
    position: relative;
    right: 80px; 
    height: 55px;
  }
  
  #IchigoSprite{
    position: relative;
    right: 300px;
    bottom:10px;
    height: 80px;
  }
  
  #GonSprite{
    position: relative;
    /* top: 0px; */
    right: 360px;
    bottom:60px;
    height: 100px;
  }
}

img {
  margin: -110px 0px 0px 350px;
}

.SearchTools{
  box-shadow: 0 0 5px black;
  width: 80%;
  margin-bottom: 20px;
  background-color: brown;
}

.QuoteBlock{
  box-shadow: 0 0 5px black;
  background-color: brown;
  width: 80%;
  margin-bottom: 10px;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.SearchTools input[type=text]{
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

.SearchTools input[type=radio]{
  /* opacity: 0; */
  cursor: pointer;
  height: 20px;
  width: 20px; 
  background-color: grey;
}

/* .container {
  display: flex;
  position: relative;
  flex-direction:column;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
} */

/* .checkmark{
  cursor: pointer;
  position: relative;
  left: 49%;
  height: 25px;
  width: 25px;
  background-color: grey;
  border-radius: 50%;
}

.checkmark:checked{
  background-color: #2196F3;
} */

#seeAll{
  color: white;
  background-color: black;
  border: none;
  width: 70%;
  padding: 12px 20px;
  margin-bottom: 20px;
}

.SearchTools button {
  color: white;
  background-color: black;
  border: none;
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius:5px;
}
.SearchTools button:hover{
  background-color: gray;
  cursor:pointer;
}

#uparr,#downarr{
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 20px;
}
#uparr{
  margin-bottom: 5px;
 
}
#downarr{
  margin-bottom: 20px;
}


