body{
  background-color: gray;
  padding: 0;
  margin: 0;
}


.App{
 text-align: center;
 background-color: lightgray;
display: flex;
flex-direction: column;
align-items: center;
}

#LuffySprite{
  position:relative;
  left: 40px;
  bottom: 25px;
}
#GokuSprite{
  position:relative;
  right: 150px;
  top: 45px;
}

#NarutoSprite{
  position: relative;
  right: 25px;
}

#IchigoSprite{
  position: relative;
  right: 300px;
  bottom:10px;
}

#GonSprite{
  position: relative;
  right: 380px;
  bottom:80px;
}

@media(max-width: 480px){
  .header{
    font-size: 13px;

  }
  #LuffySprite{
    position: relative;
    height: 60px;
    left: -80px;
    bottom: 20px;
  }
  #GokuSprite{
    position:relative;
    right: 185px;
    top: 45px;
    height: 110px;
  }
  
  #NarutoSprite{
    position: relative;
    right: 80px; 
    height: 55px;
  }
  
  #IchigoSprite{
    position: relative;
    right: 300px;
    bottom:10px;
    height: 80px;
  }
  
  #GonSprite{
    position: relative;
    /* top: 0px; */
    right: 360px;
    bottom:60px;
    height: 100px;
  }
}

img {
  margin: -110px 0px 0px 350px;
}

.SearchTools{
  box-shadow: 0 0 5px black;
  width: 80%;
  margin-bottom: 20px;
}

.QuoteBlock{
  box-shadow: 0 0 5px black;
  width: 80%;
  margin-bottom: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.SearchTools input[type=text]{
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}

.SearchTools input[type=radio]{
  height: 25px;
  width: 25px;
  /* background-color: #eee; */
  border-radius: 50%;
}

.SearchTools input[type=radio]:hover{
  cursor: pointer;
}

.SearchTools input[type=radio]:checked{
  background-color: #2196F3;
}

.SearchTools button {
  color: white;
  background-color: black;
  border: none;
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius:5px;
}
.SearchTools button:hover{
  background-color: gray;
  cursor:pointer;
}

